.navbar {
    width: 100%;
    background-color: gray;
}

.navbar td {
    width: 25%;
    text-align: center;
}

.navbar td input {
    border: 0;
    height: 50px;
}

.select-bar {
    width: 70%;
    background-color: gray;
    margin: auto;
}